# Django
SECRET_KEY=sua-chave-secreta-aqui
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1

# Database (para conexão do Django)
DB_NAME=tenis_mesa
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=db  # Nome do serviço no docker-compose
DB_PORT=5432

# Database (para conexão do HOST - scripts)
# Essas variáveis são lidas pelos scripts de backup/restore
DB_HOST_HOST=localhost
DB_PORT_HOST=5433